// Define variables for your color scheme

// For example:
$red: #FF4F44;
$blue: #167FFB;
$yellow: #FFC65A;
$orange: #FFB444;
$light-green: #D2F190;
$gray: #0E0000;
$dark-gray: #343A40;
$light-gray: #F4F4F4;
$green: #05201E;
$dark-green: #021110;
$black: #1D1D1D;

