// Specific CSS for your home-page
.section {
  margin-bottom: 48px;
}

.small-container {
  width: 560px;
  margin: 0 auto;
}

.middle-container {
  width: 640px;
  margin: 0 auto;
}

.section-title {
  display: flex;
  justify-content: space-between;
}

.card-product-big {
  overflow: hidden;
  height: 320px;
  background: $dark-gray;
  color: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  display: flex;
  align-items: center;
}

// .card-product-big img {
//   height: 100%;
//   width: 120px;
//   object-fit: cover;
// }

.card-product-big h2 {
  font-size: 32px;
  font-weight: bold;
  margin: 0;
  padding: 0 32px 8px 32px;
}

.card-product-big p {
  font-size: 16px;
  line-height: 1.4;
  opacity: .7;
  margin-bottom: 0;
  // margin-top: 8px;
  padding: 0 32px 32px 32px;
}

.card-product-big .card-product-infos {
  padding: 16px;
}

a {
  text-decoration: none;
  color: $dark-gray;
  &:hover {
    color: black;
  }
}
