// Specific CSS for your home-page
.section {
  margin-bottom: 48px;
}

.section-title {
  display: flex;
  justify-content: space-between;
}

.card-product-big {
  overflow: hidden;
  height: 320px;
  background: $black;
  color: white;
  display: flex;
  align-items: center;
  border-radius: 12px;
  img {
    width: 50%;
  }
}

.card-product-big h2 {
  font-size: 24px;
  font-weight: 700;
  margin: 0;
  padding: 0 24px 8px 24px;
}

.card-product-big p {
  font-size: 16px;
  line-height: 1.4;
  margin-bottom: 0;
  // margin-top: 8px;
  padding: 8px 24px 24px 24px;
}

.card-product-big .card-product-infos {
  padding: 16px;
}

a {
  text-decoration: none;
  color: $dark-gray;
  &:hover {
    color: black;
  }
}

.owl-carousel {
  display: flex;
  .owl-nav .owl-prev {
    position: absolute;
    top: 40%;
    left: -12px;
    height: 48px;
    width: 48px;
    background: white !important;
    border: 1px solid black !important;
    font-size: 30px !important;
  }
  .owl-next {
    position: absolute;
    width: 48px;
    top: 40%;
    right:-20px;
    background: white !important;
    border: 1px solid black !important;
    font-size: 30px !important;
  }
}
.owl-item.active:hover {
    cursor: grab;
}

.mentor-logo {
  width: 80%;
  margin: 0 auto;
}
