<div class="container">
  <h1><%= @consultation.title %></h1>
  <p><strong>Description: </strong><%= @consultation.description %></p>
  <p><strong>Price: </strong>$<%= @consultation.price %></p>
  <p><strong>Duration: </strong><%= @consultation.duration %>mins</p>

  <%# No function added to this button yet %>
  <button class="btn btn-primary">Book now</button>
</div>
