<%# <div class="container m-3"
  <%= simple_form_for [@consultation, @booking] do |f| %>
    <%# <%= f.input :date_time %>
    <%# <%= f.input :status %>
    <%# <%= f.submit class: "btn btn-success mt-3" %>
  <%# <% end %>
<%# </div> %>
