<div class="footer">
  <div class="container">
    <div class="footer-sitemap">
      <div class="row">
        <ul>
          <li><h2>Achip</h2></li>
          <li><div class="footer-social">
            <a href="#"><i class="fab fa-github"></i></a>
            <a href="#"><i class="fab fa-instagram"></i></a>
            <a href="#"><i class="fab fa-facebook"></i></a>
            <a href="#"><i class="fab fa-twitter"></i></a>
            <a href="#"><i class="fab fa-linkedin"></i></a>
          </div></li>
        </ul>
      </div>
      <div class="row">
        <ul>
          <li style="font-size: 13px; color: $dark-grey;"><strong>PLATFORM</strong></li>
          <li>Sessions</li>
          <li>Mentors</li>
          <li>Become a mentor</li>
        </ul>
      </div>
      <div class="row">
        <ul>
          <li style="font-size: 13px; color: $dark-grey;"><strong>COMPANY</strong></li>
          <li>About</li>
          <li>Prviacy Policy</li>
          <li>Career</li>
        </ul>
      </div>
      <div class="row">
        <ul>
          <li style="font-size: 13px; color: $dark-grey;"><strong>SUPPORT</strong></li>
          <li>FAQ</li>
          <li>Contact</li>
        </ul>
      </div>
    </div>
    <div class="row footer-credit">
      <p>© 2021 Achip · Privacy · Terms · Sitemap</p>
      <p style="position:absolute; right: 0;">Made with <i class="fas fa-heart"></i> by Nomo</p>
    </div>
  </div>
</div>
