.btn {
  padding: 16px 20px;
  font-weight: 500;
  height: 56px;
}

.btn .btn-primary:hover {
  background-color: $dark-green;
}

button > a {
  color: white;
}

.log-in {
  padding: 8px 16px !important;
  font-weight: 500;
  &:hover {
    color: white !important;
  }
}

.edit-cta {
  display: flex;
  align-items: center;
  justify-content:flex-end;
}
