.card-dashboard {
  background-size: cover;
  background-position: center;
  background-color: white;
  height: 280px;
  display: flex;
  align-content: space-between;
  color: black;
  font-family: Inter;
  font-size: 24px;
  font-weight: 400;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  border-radius: 12px;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  margin: 10px;
  margin-top: 20px;
  padding: 32px;
  font-family: Inter;

  &:hover {
    background-color: black;
    color: white;
  }

  &:hover h2{
    color: white;
  }

  &:hover p{
    color: white;
  }
}

.card-dashboard h2 {
  font-family: Inter;
}

.card-dashboard p {
  font-family: Inter;
}



.card-dashboard .card-dashboard-infos {
  align-content: space-between;
  
}