.card-booking {
  overflow: hidden;
  height: 194px;
  width: 620px;
  background: white;
  border: 1px solid $black;
  border-radius: 24px;
  display: flex;
  align-items: center;
  margin: 24px 12px;
}

.card-booking img {
  height: 160px;
  width: 112px;
  object-fit: cover;
  border: 1px solid $black;
  border-radius: 8px;
}

.card-booking h2 {
  font-size: 24px;
  font-family: Inter;
  font-weight: 800;
  margin: 0;
}

.card-booking p {
  font-size: 14px;
  line-height: 1.4;
  margin-bottom: 0;
  margin-top: 8px;
  color: $black;
}

.card-booking .card-booking-infos {
  padding: 16px;
  width: 100%;
  height:100%
}

.card-booking-infos .consultation-badges {
  position: absolute;
  top: 20px;
}

.card-booking-infos .mentor-name {
  position: absolute;
  top: 23px;
  p {
    margin-top: 8px;
    padding: 0;
  }
}

.card-booking-infos #decline {
  position: absolute;
  bottom: 23px;
  right: 125px;
  background-color: white;
  color: black;
  border-color: black;
  border: 1px solid;
}

.card-booking-infos #accept {
  position: absolute;
  bottom: 23px;
  right: 20px;
}

.card-booking-infos .consultation-date {
  position: absolute;
  bottom: 41px;
}

.booking-session {
  border-radius: 24px;
  border: 1px solid $black;
}

.card-body .list-setting {
  display: flex;
  justify-content: space-between;
  padding-bottom: 16px;
  margin-top: 24px;
  width: 100%;
  .list-info {
    width: 70%;
  }

  h3 {
    font-family: Inter;
    font-size: 20px;
  }

  p {
    opacity: 0.6;
  }

  .btn {
    width: 156px;
  }
}
