.card-category {
  background-size: cover;
  background-position: center;
  border: 1px solid $black;
  height: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-family: BioRhyme;
  font-size: 24px;
  font-weight: 400;
  border-radius: 16px;
  margin: 16px;
}
