.navbar-lewagon {
  justify-content: space-between;
  padding: 28px 0;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

.navbar-light .navbar-brand {
  font-size: 32px;
  font-weight: 700;
  color: $black;
}

.navbar-item {
  font-size: 16px;
  margin-right: 12px;
}

li.nav-item {
  display: flex;
  align-items: center;
  margin-right: 12px;
}

.navbar-light .navbar-nav .nav-link {
  color: $black;
  &:hover {
    color: rgba (0, 0, 0, 0.5);
  }
}

.nav-item .avatar {
  margin-left: 12px;
}

.navbar {
  padding: 8px 32px;
  .btn {
    height: 48px;
    padding: 12px 16px;
  }
}

#achip-logo {
  font-family: $headers-font;
}
