.navbar-lewagon {
  justify-content: space-between;
  padding: 28px 84px;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

.navbar-brand h2 {
  font-size: 32px;
  font-weight: 700;
}

.navbar-item {
  font-size: 16px;
  margin-right: 12px;
}

.navbar-light .navbar-nav .nav-link {
  margin-right: 12px;
  color: $black;
  &:hover {
    color: rgba (0, 0, 0, 0.5);
  }
}

.nav-item .avatar {
  margin-left: 12px;
}
