// Graphical variables
@import "config/fonts";
@import "config/colors";
@import "config/bootstrap_variables";

// External libraries
@import "bootstrap/scss/bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";

// Your CSS partials
@import "components/index";
@import "pages/index";

// Fonts
@import url('https://fonts.googleapis.com/css2?family=BioRhyme:wght@700;800&family=Inter:wght@400;500;600;700&display=swap');

h1 {
  font-size: 42px;
  font-weight: 800;
  color: #05201E;
}

h2 {
  font-size: 28px;
  font-weight: 800;
  color: #05201E;
}

a {
  color: black;
  &:hover {
    color: rgba(0,0,0,0.4);
  }
}

body {
  background: linear-gradient(180deg, #F1FFF1 -0.51%, #F3F3F3 39.61%, #DEF98B 70.5%);
  border-bottom: 1px solid $dark-gray;
  color: $dark-gray;
}

// .container {
//   width: 960px;
// }
